<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
                aliquid reiciendis soluta cumque nostrum atque nobis harum enim ratione officia beatae distinctio
                dolorum, tenetur animi! Alias odio velit porro vitae?Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Quasi suscipit commodi impedit, vero facere nemo omnis in earum sapiente aliquam quia similique
                reprehenderit quod illo cumque natus fugit a eaque. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Sint reprehenderit repellat odio? Inventore eveniet maiores, nam velit consequuntur eaque ea alias
                molestiae libero illo eos quam quibusdam officia. Quidem, architecto! Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Quibusdam praesentium ipsum a autem deserunt ratione consectetur, illum,
                aliquid exercitationem labore rerum sequi modi reprehenderit laudantium molestias, voluptas voluptates
                dicta ad.

            </p>
        </div>
    </div>


</div>
<div class="parallax"></div>


<div class="row w-100 mt-5 mb-5">
    <div class="col md-12 w-100 d-flex justify-content-center ">
        <button class="btn btn-outline-danger text-uppercase font-weigth-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>

