<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://scontent.fcgh37-1.fna.fbcdn.net/v/t1.0-9/11163947_989627664382412_7515514777560486120_n.jpg?_nc_cat=105&_nc_sid=174925&_nc_ohc=B7gDNUKPlz4AX_ssxKI&_nc_ht=scontent.fcgh37-1.fna&oh=96a0786f160fa1690707fd8404a9867c&oe=5F6B04C9" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <a href="https://www.linkedin.com/in/ana-claudia-otavares/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      
      <a href="https://github.com/AnaClaudiaOT" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>